/* Glassmorphism card effect */

.glass-card-1 {
  backdrop-filter: blur(16px) saturate(190%);
  -webkit-backdrop-filter: blur(16px) saturate(190%);
  background-color: rgba(255, 255, 255, 0.7);
  // border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.glass-card-2 {
  backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(5px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.51);
  // border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
