<div class="bg-violet-base select-none">
  <app-header class="fixed z-50 left-0 right-0 lg:right-44 lg:left-44"></app-header>
  <div class="pt-14 lg:pt-0">
    <app-intro></app-intro>
  </div>
  <div class="flex items-center justify-evenly w-full bg-black py-5">
    <i *ngFor="let icon of icons" class="fa-brands {{icon}} text-white text-5xl"></i>
    <!-- <i class="fa-brands fa-html5"></i>
    <i class="fa-brands fa-css3"></i>
    <i class="fa-brands fa-square-js"></i>
    <i class="fa-brands fa-angular"></i>
    <i class="fa-brands fa-vuejs"></i> -->
  </div>
  <app-exp></app-exp>
</div>
