<div class="bg-violet-base">
  <div class="flex relative w-full lg:mt-0 box-border items-center lg:p-0">
    <div class=" hidden lg:block w-full aspect-square bg-violet-base"></div>
    <div class=" hidden lg:block w-full aspect-square bg-violet-base intro-right bg-center bg-cover"></div>
    <!-- <img class=" hidden lg:block w-1/2 "src="./../../../../assets/images/duyduy.jpg" alt=""> -->
    <!-- <img class=" hidden lg:block"src="./../../../../assets/images/avatar_bgray_square .png" alt=""> -->
    <!-- <div class="glass-card-2 px-10 py-20 rounded-3xl absolute left-64 top-1/2 -translate-y-1/2 w-2/5">
      <p class="text-[80px] font-bold">Xin chào !</p>
      <p class="text-[60px] font-medium">Tôi tên là Lê Quang Duy</p>
      <p>Hiện tại đang là một Front-End Developer ! Có kinh nghiệm làm việc với HTML, CSS, JS và có kiến thức nền tảng về Framework như Angular, VueJS.</p>
    </div> -->
    <div class="static lg:absolute left-[10%] lg:top-1/2 lg:-translate-y-1/2 lg:w-2/5 text-white">
      <p class="text-xl lg:text-[80px] font-bold">Xin chào !</p>
      <p class="text-3xl mt-5 lg:text-[60px] font-medium ">Tôi tên là <span class="flicker-1 font-bold">Lê Quang Duy</span></p>
      <p class="mt-4 lg:text-[22px]">Hiện tại đang là một Front-End Developer ! Có kinh nghiệm làm việc với HTML, CSS, JS và có kiến thức nền tảng về Framework như Angular, VueJS.</p>
      <div class="mt-3 flex items-center space-x-5">
        <a href="mailto:duyle7581@gmail.com" class="bg-violet rounded-md px-2 py-1 w-fit"><i class="fa-regular fa-envelope mr-2"></i>Gửi Email</a>
        <a class="flex hover:scale-110 box-border duration-200" href="#"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
        </svg> <span class="ml-3">Download CV</span></a>

      </div>
    </div>
  </div>

</div>
