<div class="flex items-center justify-between h-14 px-2 bg-blue lg:bg-transparent text-white glass-card-1 rounded-none border-none lg:border-solid   lg:border-[rgba(209, 213, 219, 0.3)] lg:rounded-lg">
  <!-- <p class="font-bold text-white">Portfolio</p> -->
  <div class="flex items-center">
    <img class="w-10 h-10 rounded-md mr-2" src="./../../../../assets/images/avatar_bgray_square .png" alt="">
    <p>Lê Quang Duy</p>
  </div>
  <ul class="lg:grid grid-flow-col gap-16 hidden">
    <li>Home</li>
    <li>About</li>
    <li>Projects</li>
  </ul>
  <div class="flex items-center justify-end space-x-5">
    <button class="font-bold rounded-md px-3 py-1 bg-violet glass-card-1" (click)="contactMe()">Liên hệ</button>
    <i class="fa-solid fa-bars text-white fa-lg lg:hidden"></i>
  </div>

</div>
